@import "variables";
@import "extends";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/background.png");
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  text-align: center;
  padding: 5% 0 8%;
  & img {
    width: 13%;
  }
}

.header-section {
  color: $textColor;
  text-align: center;
  & h1 {
    font-size: 50px;
    font-family: $textOne;
    font-family: $textTwo;
    padding: 0 26% 2%;
  }
  & p {
    font-family: $smallText;
    color: $textColor;
    font-size: 20px;
    padding: 0 32% 0%;
    line-height: 1.6em;
  }
  & .red-border {
    border-bottom: 6px solid $redSection;
    width: 8%;
    margin: 5% auto 4%;
  }
}
.recommended-section {
  text-align: center;
  color: $textColor;
  font-family: $textOne;
  font-family: $textTwo;
}

.box-container {
  @extend %boxes;
  margin: 0 auto;
  width: 60%;
  .box-one {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
    padding-bottom: 40px;
  }
  
  .box-one img {
    display: block;
    margin: 20px auto 0;
  }
  
  .box-one h2 {
    font-size: 20px;
    padding: 10% 11% 15%;
  }
  
  .box-one a {
    text-decoration: none;
    border: 1px solid $redSection;
    background-color: $redSection;
    padding: 15px 65px;
    border-radius: 20px;
    color: #ffffff;
  }

  .box-two {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
    padding-bottom: 40px;
  }
  
  .box-two img {
    display: block;
    margin: 20px auto 0;
  }
  
  .box-two h2 {
    font-size: 20px;
    padding: 10% 8% 15%;
  }
  
  .box-two a {
    text-decoration: none;
    border: 1px solid $redSection;
    background-color: $redSection;
    padding: 15px 65px;
    border-radius: 20px;
    color: #ffffff;
  }

  .box-three {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
    padding-bottom: 40px;
  }
  
  .box-three img {
    display: block;
    margin: 20px auto 0;
  }
  
  .box-three h2 {
    font-size: 20px;
    padding: 10% 8% 15%;
  }
  
  .box-three a {
    text-decoration: none;
    border: 1px solid $redSection;
    background-color: $redSection;
    padding: 15px 65px;
    border-radius: 20px;
    color: #ffffff;
  }
}

.footer {
  color: rgba(68, 68, 68, 1);
  text-align: center;
  padding: 10% 0 2%;
  font-family: $smallText;
  font-size: 12px;
  & a {
    color: rgba(68, 68, 68, 1);
    font-family: $smallText;
  }
}

@media only screen and (max-width: 1200px) {
  .logo img {
    width: 25%;
  }
  .header-section {
    & h1 {
     font-size: 35px;
     padding: 0 6% 2%;
   }
    & p {
     font-size: 18px;
     padding: 3% 10% 0%;
   }
   & .red-border {
     width: 20%;
   }
   }
   .box-container {
     display: block;
     width: 100%;
     padding: 0px 0;
     & .box-one {
       margin: 25px auto 0;
       text-align: center;
       width: 85%;
       & img {
         display: block;
         margin: 0 auto;
         padding-top: 25px;
       }
       & h2 {
        font-size: 20px;
        padding: 4% 11% 7%
      }
     }
     & .box-two {
       margin: 25px auto 0;
         text-align: center;
         width: 85%;
         & img {
           display: block;
           margin: 0 auto;
           padding-top: 25px;
         }
         & h2 {
          font-size: 20px;
          padding: 4% 11% 7%
        }
     }
     & .box-three {
       margin: 25px auto 0;
         text-align: center;
         width: 85%;
         & img {
           display: block;
           margin: 0 auto;
           padding-top: 25px;
         }
         & h2 {
          font-size: 20px;
          padding: 4% 11% 7%
        }
     }
   }
   .footer {
    padding: 10% 0 6%;
   }
}

// Phone Devices
@media only screen and (max-width: 600px){
.logo img {
  width: 30%;
}
.header-section {
 & h1 {
  font-size: 35px;
  padding: 0 6% 2%;
}
 & p {
  font-size: 18px;
  padding: 3% 10% 0%;
}
& .red-border {
  width: 20%;
}
}
.box-container {
  display: block;
  width: 100%;
  padding: 0px 0;
  & .box-one {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
    & img {
      display: block;
      margin: 0 auto;
      padding-top: 25px;
    }
  }
  & .box-two {
    margin: 25px auto 0;
      text-align: center;
      width: 85%;
      & img {
        display: block;
        margin: 0 auto;
        padding-top: 25px;
      }
  }
  & .box-three {
    margin: 25px auto 0;
      text-align: center;
      width: 85%;
      & img {
        display: block;
        margin: 0 auto;
        padding-top: 25px;
      }
  }
}
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}
