@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
.box-container {
  padding: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/background.png");
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  text-align: center;
  padding: 5% 0 8%;
}

.logo img {
  width: 13%;
}

.header-section {
  color: #444444;
  text-align: center;
}

.header-section h1 {
  font-size: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Rubik", sans-serif;
  padding: 0 26% 2%;
}

.header-section p {
  font-family: "Chivo", sans-serif;
  color: #444444;
  font-size: 20px;
  padding: 0 32% 0%;
  line-height: 1.6em;
}

.header-section .red-border {
  border-bottom: 6px solid #CE041B;
  width: 8%;
  margin: 5% auto 4%;
}

.recommended-section {
  text-align: center;
  color: #444444;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Rubik", sans-serif;
}

.box-container {
  margin: 0 auto;
  width: 60%;
}

.box-container .box-one {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  padding-bottom: 40px;
}

.box-container .box-one img {
  display: block;
  margin: 20px auto 0;
}

.box-container .box-one h2 {
  font-size: 20px;
  padding: 10% 11% 15%;
}

.box-container .box-one a {
  text-decoration: none;
  border: 1px solid #CE041B;
  background-color: #CE041B;
  padding: 15px 65px;
  border-radius: 20px;
  color: #ffffff;
}

.box-container .box-two {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  padding-bottom: 40px;
}

.box-container .box-two img {
  display: block;
  margin: 20px auto 0;
}

.box-container .box-two h2 {
  font-size: 20px;
  padding: 10% 8% 15%;
}

.box-container .box-two a {
  text-decoration: none;
  border: 1px solid #CE041B;
  background-color: #CE041B;
  padding: 15px 65px;
  border-radius: 20px;
  color: #ffffff;
}

.box-container .box-three {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  padding-bottom: 40px;
}

.box-container .box-three img {
  display: block;
  margin: 20px auto 0;
}

.box-container .box-three h2 {
  font-size: 20px;
  padding: 10% 8% 15%;
}

.box-container .box-three a {
  text-decoration: none;
  border: 1px solid #CE041B;
  background-color: #CE041B;
  padding: 15px 65px;
  border-radius: 20px;
  color: #ffffff;
}

.footer {
  color: #444444;
  text-align: center;
  padding: 10% 0 2%;
  font-family: "Chivo", sans-serif;
  font-size: 12px;
}

.footer a {
  color: #444444;
  font-family: "Chivo", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .logo img {
    width: 25%;
  }
  .header-section h1 {
    font-size: 35px;
    padding: 0 6% 2%;
  }
  .header-section p {
    font-size: 18px;
    padding: 3% 10% 0%;
  }
  .header-section .red-border {
    width: 20%;
  }
  .box-container {
    display: block;
    width: 100%;
    padding: 0px 0;
  }
  .box-container .box-one {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
  }
  .box-container .box-one img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
  .box-container .box-one h2 {
    font-size: 20px;
    padding: 4% 11% 7%;
  }
  .box-container .box-two {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
  }
  .box-container .box-two img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
  .box-container .box-two h2 {
    font-size: 20px;
    padding: 4% 11% 7%;
  }
  .box-container .box-three {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
  }
  .box-container .box-three img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
  .box-container .box-three h2 {
    font-size: 20px;
    padding: 4% 11% 7%;
  }
  .footer {
    padding: 10% 0 6%;
  }
}

@media only screen and (max-width: 600px) {
  .logo img {
    width: 30%;
  }
  .header-section h1 {
    font-size: 35px;
    padding: 0 6% 2%;
  }
  .header-section p {
    font-size: 18px;
    padding: 3% 10% 0%;
  }
  .header-section .red-border {
    width: 20%;
  }
  .box-container {
    display: block;
    width: 100%;
    padding: 0px 0;
  }
  .box-container .box-one {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
  }
  .box-container .box-one img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
  .box-container .box-two {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
  }
  .box-container .box-two img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
  .box-container .box-three {
    margin: 25px auto 0;
    text-align: center;
    width: 85%;
  }
  .box-container .box-three img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
/*# sourceMappingURL=style.css.map */